<div class="ivx-grid-container-fluid">
    <div class="ivx-grid-row divider-90">
        <div class="ivx-grid-col-xs-1-1">
            <h2>Capitalize Filter</h2>
        </div>
        <div class="ivx-grid-col-xs-1-1">
            {{inputValue|capitalize}}
        </div>
    </div>
    <div class="ivx-grid-row divider-90">
        <div class="ivx-grid-col-xs-1-1">
            <h2>Truncate Filter</h2>
        </div>
        <div class="ivx-grid-col-xs-1-2">
            <strong>Truncate Filter Default</strong>
        </div>
        <div class="ivx-grid-col-xs-1-2">
            {{inputValue|truncate}}
        </div>
        <div class="ivx-grid-col-xs-1-2">
            <strong>Truncate Filter Number Defined At 10</strong>
        </div>
        <div class="ivx-grid-col-xs-1-2">
            {{inputValue|truncate:10}}
        </div>
        <div class="ivx-grid-col-xs-1-2">
            <strong>Truncate Filter Number Defined At 10 and suffix to be "---"</strong>
        </div>
        <div class="ivx-grid-col-xs-1-2">
            {{inputValue|truncate:10:"---"}}
        </div>
    </div>
    <div class="ivx-grid-row divider-90">
        <div class="ivx-grid-col-xs-1-1">
            <h2>Url Encode Filter</h2>
        </div>
        <div class="ivx-grid-col-xs-1-1">
            {{inputValue|url_encode}}
        </div>
    </div>
    <div class="ivx-grid-row divider-90">
        <div class="ivx-grid-col-xs-1-1">
            <h2>Url Decode Filter</h2>
        </div>
        <div class="ivx-grid-col-xs-1-1">
            {{inputValue|url_decode}}
        </div>
    </div>
    <div class="ivx-grid-row divider-90">
        <div class="ivx-grid-col-xs-1-1">
            <h2>Escape Filter</h2>
        </div>
        <div class="ivx-grid-col-xs-1-1">
            {{inputValue|escape}}
        </div>
    </div>
    <div class="ivx-grid-row divider-90">
        <div class="ivx-grid-col-xs-1-1">
            <h2>Unescape Filter</h2>
        </div>
        <div class="ivx-grid-col-xs-1-1">
            <pre>{{inputValue|unescape}}</pre>
        </div>
    </div>
</div>