<h1>External HTML5 Video Player</h1>
<ivxjs-html5-video-player ng-if="vm.playerSettings.id"
    player-id="{{vm.playerSettings.id}}"
    settings="vm.playerSettings"></ivxjs-html5-video-player>
<ivxjs-standard-video-controls ng-if="vm.playerSettings.id"
    player-id="{{vm.playerSettings.id}}"></ivxjs-standard-video-controls>
<h1>External YouTube Video Player</h1>
<ivxjs-youtube-video-player ng-if="vm.youTubeSettings.id"
    player-id="{{vm.youTubeSettings.id}}"
    settings="vm.youTubeSettings"></ivxjs-youtube-video-player>
<ivxjs-standard-video-controls ng-if="vm.youTubeSettings.id"
    player-id="{{vm.youTubeSettings.id}}"></ivxjs-standard-video-controls>
<h1>External Vimeo Video Player</h1>
<ivxjs-vimeo-video-player ng-if="vm.vimeoSettings.id"
    player-id="{{vm.vimeoSettings.id}}"
    settings="vm.vimeoSettings"></ivxjs-vimeo-video-player>
<ivxjs-standard-video-controls ng-if="vm.vimeoSettings.id"
    player-id="{{vm.vimeoSettings.id}}"></ivxjs-standard-video-controls>