<div class="ivx-grid-container-fluid">
    <div class="ivx-grid-row">
        <div class="ivx-grid-2-3">
            <p class="ivx-font-tiny"></p>By providing your phone number and clicking on "SUBMIT," you consent and agree
            to receive ads or telemarketing
            messages via autodialed calls or robocalls/robotexts.
            <a href="https://asuonline.asu.edu/web-analytics-privacy-2"
                title="ASU Privacy Policy">We value your privacy.</a>
            </p>
        </div>
        <div ng-if="formInput.$valid"
            class="ivx-grid-1-3">
            <a href="http://ivx-xapi.dev.inf-env.com/v1/experience/link/welcome-app/gNUjs4AyFUeJJ6uevXBtcQ?useexisting=true&email=temptest@email.com&firstname={{experience.data.firstname}}&lastname={{experience.data.lastname}}"
                class="ivx-input ivx-input-submit-button">Submit</a>
        </div>
        <div ng-if="formInput.$valid"
            class="ivx-grid-1-3">
            <button ng-if="!formInput.$valid"
                class="ivx-input ivx-input-buttons-disable ivx-input-submit-button">Submit</button>
        </div>
    </div>
</div>