<div class="progression-list">
    <h1>Progression:</h1>
    <div class="progression-item answered-first-name">
        Answered First Name
    </div>
    <div class="progression-item answered-last-name">
        Answered Last Name
    </div>
    <div class="progression-item answered-email">
        Answered Email
    </div>
    <div class="progression-item submitted">
        Submitted
    </div>
</div>
<div class="action-buttons">
    <h1>Action Buttons:</h1>
    <div class="action-button"
        ivx-remove-classes="{element:'body', classes: 'red orange yellow green secondary primary'}">
        Clear Body Background
    </div>
    <div class="action-button"
        ivx-add-classes="{element:'.ivx-input-container', classes: 'ivx-container-border'}"
        ivx-remove-classes="{element:'.ivx-input-container-submit-button', classes: 'ivx-container-border'}">
        Border Form Style
    </div>
    <div class="action-button give-inputs-borders"
        ivx-remove-classes="{element:'.ivx-input-container', classes: 'ivx-container-border'}">
        Reset Form Style
    </div>
</div>