<div class="ivx-container">
    <div class="ivx-header">
        <h1>Thank you, {{experience.firstName}}!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi impedit, aperiam voluptatibus odio, sit fugiat quasi ad laboriosam id quo tenetur earum, porro minus. Vel itaque architecto quae, soluta tenetur.</p>
    </div>
    <div class="content">
        <a style="background:{{experience.favoriteColor}};" href="https://influencetech.github.io/ivx-js/developer/configuration.json-specs/" target="_blank">JSON Documentation</a>
    </div>
</div>