<div class="ivx-header">
    <h1>Welcome iVXjs Contributor!</h1>
    <p>
        This is a sample project to get your started contributing/developing to the iVXjs library. 
        This state is an input state that will be used in the "Favorite Color" tutorial meant to get developers started 
        understanding some of the best practives.
    </p>
    <p>
        To find the "Favorite Color" tutorial, you can go to this link: 
        <a href="https://influencetech.github.io/ivx-js/developer/tutorial.color-input">Favorite Color Tutorial</a> 
    </p>
</div>