<h2 class="ui header">
    <i ng-if="experience.data.isFunnel" class="icons">
        <i class="big blue green loading sun icon"></i>
        <i  class="small green checkmark icon"></i>
    </i>
    <i ng-if="!experience.data.isFunnel" class="icons">
        <i class="big blue green loading refresh icon"></i>
    </i>
    <!-- <i class="check green circle icon"></i> -->
    <div ng-if="experience.data.isFunnel" class="content">
         Embedded State POC  Complete!
        <div  class="sub header">Thank you for your time, and let's discuss next steps!</div>
    </div>

    <div  class="content" ng-if="!experience.data.isFunnel" class="sub header">
        Cool, huh?
        <div  class="sub header">Now, let's do it one more time. But this time, we will have an overlay!</div>
    </div>
</h2>