<div class="ui fluid container">
    <div class="ui three column grid">
        <div class="row">
            <div class="column">
                <a class="ui labeled icon pink button"
                    ivx-event="iVXjs:video:pause"
                    ivx-event-args="{playerId : 'parent-video-player'}"
                    ui-sref="parent-video-state.video-in-video">
                    <i class='video icon'></i>Extra Video</a>
            </div>
            <div class="column">
                <a class="ui blue icon labeled button"
                    ivx-event="iVXjs:video:pause"
                    ivx-event-args="{playerId : 'parent-video-player'}"
                    ui-sref="parent-video-state.quick-links-state">
                    <i class='external icon'></i>Quick Links</a>
            </div>
            <div class="column">
                <a class="ui purple icon labeled button"
                    ivx-event="iVXjs:video:pause"
                    ivx-event-args="{playerId : 'parent-video-player'}"
                    ui-sref="parent-video-state.get-info">
                    <i class='edit icon'></i>Request Info</a>
            </div>
        </div>
    </div>
</div>